In [90]:
import pandas as pd
import numpy as numpy
import os

In [93]:
#vocabulary creation
#create necessary vocabulary for later use\
directory_name="./pins-face-recognition/"
dirs = sorted(os.listdir(directory_name))
name_to_classid = {d:i for i,d in enumerate(dirs)}
classid_to_name = {v:k for k,v in name_to_classid.items()}
num_classes = len(name_to_classid)
print("number of classes: "+str(num_classes))

number of classes: 100

In [96]:
# read all directories
img_paths = {c:[directory_name+directory + "/" + img for img in sorted(os.listdir(directory_name+directory))] 
             for directory,c in name_to_classid.items()}
# retrieve all images
all_images_path = []
for img_list in img_paths.values():
    all_images_path += img_list
# map to integers
path_to_id = {v:k for k,v in enumerate(all_images_path)}
id_to_path = {v:k for k,v in path_to_id.items()}

In [99]:
listall = list(img_paths.items())

In [98]:
# img_paths

In [100]:
listofimages=[]
classes=[]
for i in listall:
    listofimages.append(i[1])
    classes.append([i[0]]*len(i[1]))

In [119]:
# celeb_classes[9000:]

In [102]:
flatten = lambda l: [item for sublist in l for item in sublist]

In [103]:
images=[]
celeb_classes=[]
images=flatten(listofimages)
celeb_classes= flatten(classes)
assert len(images) ==len(celeb_classes)

In [104]:
dataframe = pd.DataFrame()

In [144]:
dataframe["images"]=images
dataframe["class"] = celeb_classes

In [156]:
dataframe.to_csv("dataset.csv",index=False)

In [157]:
test = pd.read_csv("dataset.csv")

In [159]:
# test

In [135]:
#  dataframe.groupby('class').count()

In [137]:
from sklearn.model_selection import train_test_split
dataset_train,dataset_validation =train_test_split(dataframe,test_size=0.2)

In [143]:
dataset_validation.groupby('class').count()

       images
class
0          14
1          14
2          15
3          23
4           9
5          16
6          13
7          30
8          16
9          15
10         29
11         26
12         20
13         17
14         35
15         26
16         27
17         23
18         15
19         26
20         31
21         13
22         29
23         21
24         24
25         24
26         23
27         20
28         18
29         12
...       ...
70         28
71         24
72         22
73          6
74         26
75         22
76         31
77         21
78         35
79         31
80         24
81         15
82         17
83         36
84         28
85         17
86         25
87         12
88          6
89         10
90         15
91         18
92         18
93         20
94         17
95         11
96         10
97         26
98         23
99         19

[100 rows x 1 columns]